.tag-status {
  display: flex;
  align-items: center;
  padding: 0.25rem 0.5rem;
  border-radius: 8px;
  color: #222;
  font-size: 1rem;
  line-height: 1.5;
}

.tag-status-text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* Statusfarben */
.tag-neutral {
  background-color: #2563EB;
  color: #fff;
  width: fit-content;
  min-width: 0;
  max-width: unset;
}

.tag-negative {
  background-color: #d32f2f;
  width: fit-content;
  min-width: 0;
  max-width: unset;
}

.tag-positive {
  background-color: #24ac24;
  width: fit-content;
  min-width: 0;
  max-width: unset;
}

.tag-prio-high {
  background-color: #ffc107;
  width: fit-content;
  min-width: 0;
  max-width: unset;
}

.tag-prio-medium {
  background-color: #e3f2fd;
  width: fit-content;
  min-width: 0;
  max-width: unset;
}

.tag-status,
.tag-status-text {
  white-space: pre-line !important;
  word-break: break-word !important;
  overflow-wrap: anywhere !important;
  max-width: 100%;
  display: block;
  text-align: left;
}

.tag-status.tag-neutral .tag-status-text {
  color: #fff;
}
/*.tag-status.tag-prio-high .tag-status-text {
  color: #fff;
}*/